[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Classic battleship in digital form.
[access "refs/*"]
	owner = group user/maxborglowe
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/maxborglowe
	label-Verified = -1..+1 group user/maxborglowe
	push = group user/maxborglowe
	read = group user/maxborglowe
	rebase = group user/maxborglowe
	removeReviewer = group user/maxborglowe
	submit = group user/maxborglowe
[access "refs/heads/*"]
	create = group user/maxborglowe
	push = +force group user/maxborglowe
	pushMerge = group user/maxborglowe
	read = group user/maxborglowe
[access "refs/tags/*"]
	push = group user/maxborglowe
	push = +force group user/maxborglowe
